

<h1>RavenDB</h1>


<form action="Ravendata/newbyadapter" method="post">
	name<br>
	<input type="text" value="Jesper" id="username" name="username"><br>
	pass<br>
	<input type="text" value="hest" id="userpass" name="userpass"><br><br>
	
	<input type="submit" class="danger" value="save">


</form>