<div>
	<div id='' class='flowpanel panel uidpanel'>

		<h4 class="form-signin-heading">Edit Cypherquery</h4>

		<textarea id="cypher_query" rows="4" cols="120" data-lang="cypher" class="code form-control taa">
		</textarea>

		<br>
		<button type="button" id="execute_query" class="button primary">Execute</button>
		<button type="button" id="save_query" class="cancelcreate button success">Save</button>
		<button type="button" id="cancel_query" class="cancelcreate button danger">Cancel</button>
		<br>
		<div class="alchemy tab-pane active" id="graph_canvas"></div>

	</div>
</div>


