<div>
	<div id='' class='flowpanel panel uidpanel'>


		<h4 class="form-signin-heading">Create new cypherquery</h4>

			<div class="control-group">
			<input id="name" type="text"  class="form-control" placeholder="query name" name="name" >
			</div>

			<br>

			<div class="control-group">
			<textarea id="cypherquery" class="form-control hightext" placeholder="query text" name="cypherquery" ></textarea>
			</div>

			<br>
						
			<a href="#" id="save_query" class="button success">Save</a>	
			<a href="#" id="cancel_query" class="button danger">Cancel</a>
		</div>

</div>

