<div>
	<div id='' class='flowpanel panel uidpanel'>

		<h4> Graph Canvas </h4>

		<div class="sx-code-text" id="cyphercode"></div>
		<div>
			<div id="graph_canvas" class="alchemy tab-pane active graph-canv" ></div>
		</div>		
		<br>
		<button type="button" id="cancel_query" class="cancelcreate button danger">Close</button>

	</div>
</div>
